#footer-wrap
  if theme.footer.owner.enable
    - var now = new Date()
    - var nowYear = now.getFullYear()
    if theme.footer.owner.since && theme.footer.owner.since != nowYear
      .copyright!= `&copy;${theme.footer.owner.since} - ${nowYear} ${config.author}`
    else
      .copyright!= `&copy;${nowYear} ${config.author}`
  span#busuanzi_container_site_pv 本站总访问量
    span#busuanzi_value_site_pv
    | 次
  if theme.footer.copyright
    .framework-info
      a(href='https://hexo.io')= 'Hexo'
      span.footer-separator &
      a(href='https://github.com/jerryc127/hexo-theme-butterfly')= 'Butterfly'
  if theme.footer.custom_text
    .footer_custom_text!=`${theme.footer.custom_text}`
